<div class="col-md-12">
    <form [formGroup]="addEditForm">


      <mat-form-field class="pt-2" appearance="outline">
        <mat-label class="">Payment Type</mat-label>
        <input matInput   [errorStateMatcher]="matcher" formControlName="payment_type" type="text"   />
        <mat-error *ngIf="addEditForm.controls.payment_type.hasError('required') && isShowErrors" >Payment Type is required</mat-error>
      </mat-form-field>
          
      <mat-label class="pr-2 text-center">Delete Status </mat-label>
      <mat-radio-group aria-label="Is Active" formControlName="delete_status" class="inputField exammanage-radio-group" mat-form-field>
      <mat-radio-button value="true">Yes</mat-radio-button> &nbsp;
       <mat-radio-button value="false">No</mat-radio-button>
      </mat-radio-group>
  
</form>
</div>
