<div class="col-md-12">
<div class="page-title"> Dashboard </div>
<div class="container-fluid">

 
  <div class="row">
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-body card-hover p-0" >
            <div class="media p-3">
                <div class="media-body">
                    <span class="text-muted  font-size-12 font-weight-bold">No of User Total Count</span>
                    <h2 class="mb-0">{{userdetailsTotalCount}}</h2>
                </div>
                <div class="align-self-center">
                    <span class="">
                        <i [attr.data-feather]="icon" appFeatherIcon class="icon-lg icon-dual-{{ color }}"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-body card-hover p-0" >
            <div class="media p-3">
                <div class="media-body">
                    <span class="text-muted font-size-12 font-weight-bold">Total Family User  </span>
                    <h2 class="mb-0">{{familyAcType}}</h2>
                </div>
                <div class="align-self-center">
                    <span class="">
                        <i [attr.data-feather]="icon" appFeatherIcon class="icon-lg icon-dual-{{ color }}"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-body card-hover p-0" >
            <div class="media p-3">
                <div class="media-body">
                    <span class="text-muted font-size-12 font-weight-bold">Total Personal User </span>
                    <h2 class="mb-0">{{personalAcType}}</h2>
                </div>
                <div class="align-self-center">
                    <span class="">
                        <i [attr.data-feather]="icon" appFeatherIcon class="icon-lg icon-dual-{{ color }}"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-body card-hover p-0"  >
            <div class="media p-3">
                <div class="media-body">
                    <span class="text-muted font-size-12 font-weight-bold">Total transaction Count </span>
                    <h2 class="mb-0">{{transactionTotalCount}}</h2>
                </div>
                <div class="align-self-center">
                    <span class="">
                        <i [attr.data-feather]="icon" appFeatherIcon class="icon-lg icon-dual-{{ color }}"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    </div>
   
  </div>




  <!-- <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-body pt-2">
          <h6 class="font-size-16 mb-4">Chart 1</h6>
        
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card">
        <div class="card-body pt-2">
       
          <h6 class="font-size-16 mb-4">Chart 2</h6>

          <div class="row calendar-widget">
            <div class="col-sm-6">
            
            </div>
            <div class="col-sm-6">
             
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div> -->
 

</div>

</div>